:root {
  --primary-color: #1d2d5a;
  --primary-color-rgb: 77, 108, 119;
  --secondary-color: #f48120;
  --secondary-color-rgb: 198, 231, 108;
  --tertiary-color: #95c4d4;
  --tertiary-color-rgb: 149, 196, 212;
}